   @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap'); /*Cinzel Decorative*/
      @import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

    body {
    font-family: 'Roboto', cursive, sans-serif;
    font-weight: bold;
    }

    .navbar-dark {
        background-color: #197330 !important;
    }
    
    /*-------- Content -----------*/
    .content {
    padding-top: 2em;
    padding-bottom: 2em;
    background: url('../images/general-bg2.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 23px;
    }

    #filterWrapper {
        padding-left: 65px;
        padding-right: 100px;
    }

    #findMe {
        width: 100%;
    }

    .btn {
        background-color: #17a2b8;
    }

    #or {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 7px;
    }

    #category {
        padding-top: 35px;
    }

    #radioButtons {
        padding-bottom: 20px;
    }

    #reset {
        width: 100%;
    }

    #resetWrapper {
        padding-bottom: 40px;
    }

    #mapContainer {
        padding-right: 40px;
        padding-left: 40px;
    }

    #map {
        min-height: 500px !important;
    }

      /*------------ Results table ------------------*/
      table {
        font-size: 12px;
      }
      }

      #listing {
        position: absolute;
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 442px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }

      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }


  /*-------- Footer -----------*/


 #follow {
     background-color: #197330;
 }