@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html{
    width:100%;
    min-height:100vh;
}

body {
	font-family: 'Righteous', cursive, sans-serif;
    font-weight: bold;
    width:100%;
    min-height:100vh;
}

.navbar-dark {
	background-color: #001b38 !important;
}

h1 {
    font-size: 1.5em;
}


/*-------- Content -----------*/

.content {
	padding-top: 2em;
	padding-bottom: 2em;
	background: url('../images/bg2.jpg') no-repeat top left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 23px;
}

#filterWrapper {
	padding-left: 20px;
	padding-right: 20px;
}

#findMe {
	width: 100%;
}

.btn {
    background-color: #1bbfe4;
    border-color: #001b38;
}

.btn:hover {
    background-color: #550d6d;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#or {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 7px;
}

#category {
	padding-top: 35px;
}

#autocomplete {
	width: 100%;
}
#country {
	width: 100%;
}

#radioButtons {
	padding-bottom: 20px;
}

#reset {
	width: 100%;
}

#resetWrapper {
	padding-bottom: 80px;
}

#mapContainer {
	padding-right: 20px;
	padding-left: 20px;
}

#map {
	min-height: 500px !important;
    border: 5px solid #001b38;
}


/*------------ Results table ------------------*/

table {
	font-size: 12px;
}
}
#listing {
	position: absolute;
	width: 200px;
	height: 470px;
	overflow: auto;
	left: 442px;
	top: 0px;
	cursor: pointer;
	overflow-x: hidden;
}

.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}
.hotelIcon {
	width: 24px;
	height: 24px;
}
#resultsTable {
	border-collapse: collapse;
	width: 100%;
}
#rating {
	font-size: 13px;
	font-family: Arial Unicode MS;
}
.iw_table_row {
	height: 18px;
}
.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}
.iw_table_icon {
	text-align: right;
}

/*-------- Footer -----------*/

hr {
    border-top: 1px solid;
    background-color: #001b38;
    width: 65%;
}

footer {
    background-color: #001b38;
    color: #795c08;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.general-sub {
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 2em;
    margin-bottom: 0.75em;
}

.social-links {
    padding-bottom: 10px;
}

.list-inline-item{
    padding-right: 20px;
}

p.inline-block {
    margin-bottom: 0px;   
}

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 20px;
    color: #001b38;
    background: #795c08;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #550d6d;
}

#footer-details {
    padding-top: 20px;
}

#contact-button {
    background-color: #795c08;
}

#contact-button:hover {
    background-color: #550d6d;
}

.contact-grid {
    padding-top: 0.7em;
}

#copyright {
    font-size: 1.25em;
    padding-top: 15px;
}

.modal-content {
    background: url('../images/bg2.jpg') no-repeat top right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*-------- Media Querries -----------*/

@media (min-width: 992px) {
    footer {
        min-height: 10vh;
        max-height: 35vh;
        }
    .general-sub {
    margin: 0;
        }
    #filterWrapper {
	padding-left: 65px;
	padding-right: 65px;
        }
    #mapContainer {
	padding-right: 50px;
	padding-left: 50px;
        }
}

@media (min-width: 1025px) {
    
}